{% extends 'master_base.html' %}
{% block content %}
	<h1>Add keys</h1>
	<button onclick="registerKey()">Click to register key</button>
	{% comment %} <script>
		var csrftoken = Cookies.get('csrftoken');
		fetch("{% url 'begin_registration' %}", {
			method: 'POST',
			headers: {
				'X-CSRFToken': csrftoken
			}
		}).then(function(response) {
			if(response.ok) {
				return response.arrayBuffer();
			}
			throw new Error('Error getting registration data!');
			// var proxy =  new Uint32Array(response.arrayBuffer());
			// return response.arrayBuffer();
			//return response.arrayBuffer();
			
		}).then(CBOR.decode).then(function(options) {
			//console.log(options, 'response.arraybuff is fine to me')
			//This line below is not working
			return navigator.credentials.create(options);
		}).then(function(attestation) {
			//console.log("Start fetch")
			return fetch("{% url 'complete_registration' %}", {
				method: 'POST',
				headers: {
					'Content-Type': 'application/cbor', 
					'X-CSRFToken': csrftoken
				},
				body: CBOR.encode({
					"attestationObject": new Uint8Array(attestation.response.attestationObject),
					"clientDataJSON": new Uint8Array(attestation.response.clientDataJSON),
				})
			});
		}).then(function(response) {
			var stat = response.ok ? 'successful' : 'unsuccessful';
			alert('Registration ' + stat + ' More details in server log...');
		},function(reason) {
			alert(reason);
		//);
		}).then(function() {
			window.location = '/';
		});
	</script> {% endcomment %}
{% endblock %}