{% extends 'master_base.html' %}
{% block content %}
{% comment %} <button onclick="registerKey()">Add Key</button> {% endcomment %}

<div class="mdc-layout-grid">
    <!-- One horizontal level grid works in scale of 12-->
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-2"></div>
        <div class="mdc-layout-grid__cell--span-8">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell"></div>
                <div class="mdc-layout-grid__cell">
                    <h2 class="mdc-typography">Your Keys</h2>
                </div>
                <div class="mdc-layout-grid__cell"></div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell--span-2"></div>
    </div>
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-2"></div>
        <div class="mdc-layout-grid__cell--span-8">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell">
                    <h2 class="mdc-typography">Your Keys</h2>
                </div>
                <div class="mdc-layout-grid__cell"></div>
                <div class="mdc-layout-grid__cell"></div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell--span-2"></div>
    </div>
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell--span-2"></div>
        <div class="mdc-layout-grid__cell--span-8">
            <div class="mdc-layout-grid__inner">
                {% for key in all_keys %}
                <div class="mdc-layout-grid__cell--span-6">                    
                    <div class="mdc-card" style="background-color: #00E676;">
                        <div class='card-content'>
                            <h2 class="mdc-typography">Name: {{ key.name }}</h2>
                            <p class="mdc-typography">Registered: {{ key.created_at }} </p>
                            <p class="mdc-typography">Last Used: {{ key.last_used }} </p>
                        </div>
                        <div class="mdc-card__actions">
                            <div class="mdc-card__action-buttons">
                                <button class="mdc-button mdc-card__action mdc-card__action--button">
                                    <span class="mdc-button__label">Edit</span>
                                </button>
                                <button class="mdc-button mdc-card__action mdc-card__action--button">
                                    <span class="mdc-button__label">Delete</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>            
        </div>
        <div class="mdc-layout-grid__cell--span-2"></div>
    </div>
</div>

<script> 

</script>

{% endblock %}