<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
    <body>
        <h1>Welcome!</h1>
        <p>Your keys!</p>
        <a href="{% url 'key_register' %}">Add key</a>
        <table>
            <thead>
                <tr>
                    <th>Key Name</th>
                    <th>Last used</th>
                    <th>Registered on</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% comment %} {% for key in all_keys.all %} {% endcomment %}
                <tr>
                    {% for key in all_keys.all %}
                        <td>{{ key.key_name }}</td>
                        <td>{{ key.credential_data_key }}</td>
                        <td>Datetime</td>
                        <td>Delete</td>
                    {% endfor %}
                </tr>
                {% comment %} {% endfor %} {% endcomment %}
            </tbody>
        </table>
        
        
    </body>
</html>