<!Doctype html5>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Fido Django</title>
  <meta name="description" content="Fido Django">


</head>

<body>
    <div>
        <h1>Hello, Please Login or Register</h1>
        <h3>Register Here</h3>
        <form method="post" action={% url 'register_user' %}>
            {% csrf_token %}
            <label for="username" title="username">Username</label>
            <input name="username" type="text">
            
            <label for="email" title="email">Email</label>
            <input name="email" type="email">

            <label for="password" title="password">Password</label>
            <input name="password" type="password">
            <button type="submit">Submit</button>
        </form>
        <h3>Login Here</h3>
        <form method="post" action={% url 'login_user' %}>
            {% csrf_token %}
            <label for="email" title="email">Username/Email</label>
            <input name="email" type="text">

            <label for="password" title="password">Password</label>
            <input name="password" type="password">
            <button type="submit">Log in</button>
        </form>
        
        
    </div>
</body>
</html>