@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/textfield/mdc-text-field";
@import "@material/card/mdc-card";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/typography/mdc-typography";
@import "@material/chips/mdc-chips";
@import "@material/icon-button/mdc-icon-button";
@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";
@import "@material/dialog/mdc-dialog";


$primary: #ffd600;
$text-color: #212121;


body {
	margin: auto;
}

.bar-config {
	@include mdc-top-app-bar-fill-color($primary);
}

.card-content {
	padding: 0px 16px 0px 16px;
}

.key-card__media {
	background-image: url('https://www.xmple.com/wallpaper/blue-linear-gradient-purple-1920x1080-c2-8a2be2-00ced1-a-90-f-14.svg');
	height: 5em;
	width: 5em;
	margin: auto;
}