{% extends 'master_base.html' %}
{% load widget_tweaks %}


{% block title %}Sign Up{% endblock %}

{% block content %}
<h2>Add person</h2>
<form method="post">
	{% csrf_token %}

	{% for hidden in form.hidden_fields %}
		{{ hidden }}
	{% endfor %}

	{% for field in form.visible_fields %}
	<div class="mdc-text-field">
		{{ field|add_class:"mdc-text-field__input" }}
		<label class="mdc-floating-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
		{% comment %} <div class="mdc-line-ripple"></div> {% endcomment %}
		{% comment %} {% for error in field.errors %}
			<span class="help-block">{{ error }}</span>
		{% endfor %} {% endcomment %}
	</div>
	{% endfor %}

	<div class="form-group">
		<button type="submit" class="mdc-button">
  			<span class="mdc-button__label">Submit</span>
		</button>
		<button class="mdc-button" onclick="window.location='{% url 'home' %}' ">
			<span class="mdc-button__label">Go back</span>
		</button>
	</div>
</form>

<div class="mdc-text-field">
  <input type="text" id="my-text-field" class="mdc-text-field__input">
  <label class="mdc-floating-label" for="my-text-field">Hint text</label>
  <div class="mdc-line-ripple"></div>
</div>

{% endblock %}